.tool-bar {
  background-color: #2B2B2B;
  height: 122px;

  &__logo {
    width: 111px;
    height: 104px;
  }

  &-nav {
    position: relative;
    top: 10px;
    display: flex;
    width: 65%;

    &-list {
      width: 100%;
      display: flex;
      justify-content: space-around;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          font-family: Timmana, serif;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 59px;
          color: #FFFFFF;
        }
      }
    }
  }
}
